networks:
  lab:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/24

volumes:
  pg-data:
  pgadmin-data:
  backups:
  wal-archive:

services:
  init-volumes:
    image: postgres:16
    container_name: init_volumes
    user: root
    command: chown -R postgres:postgres /var/lib/postgresql/wal-archive
    volumes:
      - wal-archive:/var/lib/postgresql/wal-archive
    restart: "no"

  pg:
    image: postgres:16
    container_name: pg
    restart: unless-stopped
    depends_on:
      init-volumes:
        condition: service_completed_successfully
    env_file:
      - ./env/pg.env
    command: ["-c", "config_file=/etc/postgresql/postgresql.conf"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      lab:
        ipv4_address: 172.28.0.10
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ../config/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
      - ../config/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ../sqls/init/00-create-db.sql:/docker-entrypoint-initdb.d/00-create-db.sql:ro
      - ../sqls/ddl/00-ddls.sql:/docker-entrypoint-initdb.d/01-ddl.sql:ro
      - ../sqls/rbac/00-capabilities.sql:/docker-entrypoint-initdb.d/02-rbac-capabilities.sql:ro
      - ../sqls/rbac/01-roles.sql:/docker-entrypoint-initdb.d/03-rbac-roles.sql:ro
      - ../sqls/rbac/02-users.sql:/docker-entrypoint-initdb.d/04-rbac-users.sql:ro
      - wal-archive:/var/lib/postgresql/wal-archive:rw

  api_server:
    build:
      context: ../backend/api-server
    image: examdb/api-server:local
    container_name: api_server
    restart: unless-stopped
    env_file:
      - ./env/api.env
    depends_on:
      - pg
    ports:
      - "8080:8080"
    networks:
      lab:
        ipv4_address: 172.28.0.12

  fe-main:
    build:
      context: ../frontend/exam-sys
    image: examdb/fe-main:local
    container_name: fe_main
    restart: unless-stopped
    environment:
      - VITE_API_BASE=http://api_server:8080
    depends_on:
      - api_server
    ports:
      - "4173:4173"
    networks:
      lab:
        ipv4_address: 172.28.0.13

  dba_console:
    image: postgres:16-alpine
    container_name: dba_console
    command: ["sh", "-c", "sleep infinity"]
    env_file:
      - ./env/pg.env
    networks:
      lab:
        ipv4_address: 172.28.0.21

  sysadmin_console:
    image: postgres:16-alpine
    container_name: sysadmin_console
    command: ["sh", "-c", "sleep infinity"]
    env_file:
      - ./env/pg.env
    networks:
      lab:
        ipv4_address: 172.28.0.31

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin
    restart: unless-stopped
    depends_on:
      - pg
    env_file:
      - ./env/pgadmin.env
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ../config/pgadmin/servers.json:/pgadmin4/servers.json:ro
    ports:
      - "5050:80"
    networks:
      lab:
        ipv4_address: 172.28.0.40

  # simulate an access from an un-approved server.
  unknown_console:
    image: postgres:16-alpine
    container_name: unknown_console
    command: ["sh", "-c", "sleep infinity"]
    env_file:
      - ./env/pg.env
    networks:
      lab:
        ipv4_address: 172.28.0.99

  # 1. full backup (weekly)
  # 2. incremental backup (WAL Archiving - every 5mins)
  backup_console:
    image: postgres:16-alpine
    container_name: backup_console
    restart: unless-stopped
    env_file:
      - ./env/pg.env
    environment:
      PGHOST: pg
      PGUSER: backup_user
      PGPASSWORD: backupuserpw
      PGDATABASE: exam_sys
    command:
      - sh
      - -c
      - |
        cat <<'EOF' > /etc/crontabs/root
        */5 * * * * mkdir -p /backups/wal-archive && for f in /wal-archive/*; do [ -f "$$f" ] || continue; bn=$(basename "$$f"); [ -f "/backups/wal-archive/$$bn" ] || cp "$$f" "/backups/wal-archive/$$bn"; done
        0 3 * * 0 PGPASSWORD=$${PGPASSWORD} PGUSER=$${PGUSER} PGHOST=$${PGHOST} PGDATABASE=$${PGDATABASE} pg_dump -h $${PGHOST} -U $${PGUSER} -d $${PGDATABASE} -F c -f /backups/exam_sys_$(date +\%Y\%m\%d).dump
        EOF
        crond -f -l 8
    volumes:
      - backups:/backups
      - wal-archive:/wal-archive:ro
    depends_on:
      - pg
    networks:
      lab:
        ipv4_address: 172.28.0.41
