networks:
  lab:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/24

volumes:
  pg-data:
  pgadmin-data:

services:
  pg:
    image: postgres:16
    container_name: pg
    restart: unless-stopped
    env_file:
      - ./env/pg.env
    command: ["-c", "config_file=/etc/postgresql/postgresql.conf"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      lab:
        ipv4_address: 172.28.0.10
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./config/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
      - ./config/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ../sqls/init/00-create-db.sql:/docker-entrypoint-initdb.d/00-create-db.sql:ro
      - ../sqls/ddl/00-ddls.sql:/docker-entrypoint-initdb.d/01-ddl.sql:ro
      - ../sqls/rbac/00-capabilities.sql:/docker-entrypoint-initdb.d/02-rbac-capabilities.sql:ro
      - ../sqls/rbac/01-roles.sql:/docker-entrypoint-initdb.d/03-rbac-roles.sql:ro
      - ../sqls/rbac/02-users.sql:/docker-entrypoint-initdb.d/04-rbac-users.sql:ro

  # Use postgres:alpine as a tiny base so we have psql in shells
  backend:
    image: postgres:16-alpine
    container_name: backend
    command: ["sh", "-c", "sleep infinity"]
    env_file:
      - ./env/pg.env
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pg:5432/${POSTGRES_DB}?sslmode=disable
    depends_on:
      - pg
    networks:
      lab:
        ipv4_address: 172.28.0.11

  dba_console:
    image: postgres:16-alpine
    container_name: dba_console
    command: ["sh", "-c", "sleep infinity"]
    env_file:
      - ./env/pg.env
    networks:
      lab:
        ipv4_address: 172.28.0.21

  sysadmin_console:
    image: postgres:16-alpine
    container_name: sysadmin_console
    command: ["sh", "-c", "sleep infinity"]
    env_file:
      - ./env/pg.env
    networks:
      lab:
        ipv4_address: 172.28.0.31

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin
    restart: unless-stopped
    depends_on:
      - pg
    env_file:
      - ./env/pgadmin.env
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./config/pgadmin/servers.json:/pgadmin4/servers.json:ro
    ports:
      - "5050:80"
    networks:
      lab:
        ipv4_address: 172.28.0.40
